<aside class="sidebar">
  <h3>欢迎留言</h3>

  <p>&nbsp;&nbsp;&nbsp;&nbsp; 如果您有任何问题或建议,欢迎给我们留言.如果您觉得小店不错的话,也可以给我们一些鼓励!>_<<br>

  <div class="reservations">
    <div style="margin-top:15px"><%=link_to "我要留言",new_message_path,class:"button",title: "留言"%></div>
  </div>
</aside>