// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
thead th {
  background: #e4dec8 none repeat scroll 0 0;
}
.form-horizontal .control-label {
  text-align: left;
  word-wrap: break-word;
}