// Place all the styles related to the userhome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
aside li{
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}

//span show information
span.infolf{
  margin-right: 15px;
  text-align: right;
}
span.infort{
  text-align: left;
}