<h3>Information</h3>
<div>
    <span class="infolf">name</span><span class="infort"><%= current_user.nickname%></span>
</div>
<div>
    <span class="infolf">tel</span><span class="infort"><%= current_user.phone%></span>
</div>
<div>
    <span class="infolf">address</span><span class="infort"><%= current_user.address %></span>
</div>

